:root {
  /* Cards */
  --card-width: 8.5vw; /* 3rem; */
  --card-height: calc(1.618 * var(--card-width)); /* 13.753vw; /* 4.85rem; */
  --card-border-radius: 0.85vw;

  --card-number-font-size: 10vw;

  /* Colors */

  /* --bkg-color: black; */
  --bkg-color: linear-gradient(rgb(46, 42, 36), rgb(22, 21, 18) 116px);

  --form-btn-bkg-color: hsl(187, 100%, 27%);
  --form-btn-hover-color: hsl(187, 100%, 67%);
  --form-btn-border-color: hsl(187, 100%, 87%);
  /* --form-btn-border-color: #79d7e4; */

  /* Layout */
  --wrapper-gap: 1.25vw;
}
